/* App.css */

.controlsContainer {
  text-align: center;
}

.actionButton {
  background-color: #5c0d95;
  border: none;
  color: white;
  padding: 10px 20px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.insertInput {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  margin-right: 10px;
}

.valueContainer {
  margin-top: 20px;
  text-align: center;
}

.valueBox {
  display: inline-block;
  margin: 5px;
  padding: 5px;
  border: 1px solid black;
  border-radius: 5px;
}

.deleteButton {
  background-color: #f44336;
  border: none;
  color: white;
  padding: 5px 10px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 14px;
  margin-left: 10px;
  cursor: pointer;
  border-radius: 3px;
}


.svgContainer {
  margin-top: 20px;
  text-align: center;
}
